<mat-toolbar color="primary">
  <span class="container">Saludos Nariño Master Developers</span>
</mat-toolbar>

<div class="container section">
  <mat-form-field appearance="outline">
    <mat-label>Nombre</mat-label>
    <input #name matInput type="text">
  </mat-form-field>

  <button mat-raised-button color="accent" (click)="enviar(name.value)">Enviar</button>

  <p *ngIf="!loading; else loadMsg">{{saludo}}</p>
  
  <ng-template #loadMsg>
    <mat-spinner [diameter]="40"></mat-spinner>  
  </ng-template>
</div>
